presentacio {
    padding: 30px;
    margin: 30px;
    border: 4px dotted blue;
    width: 40%;
}

nom,cognom {
    font-size: 30px;
}

email,telefon {
padding-top: 20px;
display: block;
font-weight: bold;
}

modul {
    font-style: italic;
    padding-left: 10px;
}
