llista {
display: block;
width: 300px;
padding: 20px;
margin: 30;
background-color: brown;
border: 2px solid #ccc;
border-radius: 10px;
font-family: 'Times New Roman', Times, serif;
}
element {
    display: list-item;
    list-style-type: disc;
    margin: 15px 0;
    padding-left: 20px;
    font-size: 30px;
    color: darkturquoise;
}